{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "react/prop-types": 0,
    "no-irregular-whitespace": "warn",
    "no-unused-vars": "warn"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  }
}